body {padding-top: 50px; padding-bottom: 25px;}
a {color: black;}

.part {padding-top: 50px; padding-bottom: 70px;}
.btn-group-social {margin-top: 15px;}
.btn-social {padding: 12px;}

.project {background: #EEEEEE}
.list-project {margin-top: 10px;}
.item-project {margin: 10px 0;}
.item-project img {background-color: #FFFFFF;}
.list-technology {margin-right: 10px; margin-bottom: 10px; font-size: 20px; float:right; height: 36px; max-height:36px;}
.list-technology img {height: 28px;}
.project-description {height: 100px; }