body {padding-top: 50px; padding-bottom: 25px;}
.part {padding-top: 50px; padding-bottom: 70px;}
.btn-group-social {margin-top: 15px;}
.btn-social {padding: 12px;}

.project {background: #EEEEEE}
.list-project {margin-top: 10px;}
.item-project {margin-top:20px;}
.item-project img {background-color: #FFFFFF;}
.list-technology {margin: 10px; font-size: 20px;}
.list-technology img {height: 28px;}
.project-description {display: none;}