body {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  margin-left: 50px;
}

@media print {
  a[href]:after {
    content:"" !important;
  }
}

#resume {
  background-color: #FFFFFF;
  min-width: 750px;
}

#resume-header, #resume-body {
  margin: 0;
  padding: 0;
}

#personal-information {
  margin-top: 10px;
}
#personal-information-name h1 {
  font-weight: bold;
  font-size: 4em;
}
#personal-information-link-resume {
  display: none;
}

#resume-body-skill, #resume-body-education, #resume-body-award, #resume-body-experience, #resume-body-project, #resume-body-activity {
  margin: 0;
  padding: 0;
}

#list-skill li {
  float: left;
  color: #000000;
  margin: 3px;
}

#list-skill-all {
  display: none;
}

.section-title {
  text-decoration: underline;
}
.section-sub-title {
  font-weight: bold;
}

.item-experience, .item-project {
  margin-top: 0;
  margin-bottom: 0;
}
.experience-period, .project-period {
  margin-top: 10px;
}

.project-detail {
  display: none;
}
.detail-show, .detail-hide {
  display: none;
}

.detail-show, .detail-hide {
  cursor: pointer;
}
.detail-show:hover, .detail-hide:hover {
  color: #AAAAAA;
}

#resume-footer {
  display: none;
  margin: 15px;
}

.item-activity, .item-project, .item-experience {
  margin-top: 0;
  margin-bottom: 0;
}