.bookshelf {}

.shelf {
    margin: auto;
    width: 20%;
}

.shelf .row {
    background: url(../pics/wall-bookshelf.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 426px;
    height: 210px;
    display: block;
    content: "";
    margin-left: -38px;
}

.book {
    float: left;
    border: 1px solid red;
    width: 100px;
    height: 60px;
}