.timeline_container {
    vertical-align: middle;
    margin-bottom: 30px;
}

.timeline.v1 {
    width: 90%;
    display: inline-table;
    height: 6px;
}

.timeline.v1 li {
    position: relative;
    height: 100%;
    background: #5D9CEC;
    display: table-cell;
}

.timeline.v1 li:first-child {
    border: none;
    background: linear-gradient(90deg, #FFFFFF 50%, #5D9CEC 50%);
}

.timeline.v1 li:last-child {
    border: none;
    background: linear-gradient(90deg, #5D9CEC 50%, #FFFFFF 50%);
}

.timeline.v1.description {
    display: none;
}

.timeline.v1.point {
    position: absolute;
    border-radius: 50%;
    padding: 16px;
    border: none;
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    min-height: 24px;
    max-height: 24px;
    left: 48%;
    top: -12px;
}

.timeline .btn {
    position: absolute;
    left: 48%;
    top: -12px;
}

.timeline.v1.point:hover {
    cursor: hand;
    border: none;
}

.point_description {
    display: none;
}

.timeline.v1.point:hover .point_description {
    display: block;
    position: absolute;
    top: 30px;
}

.timeline_default {
    background: #5D9CEC;
}

.timeline_default:hover {
    background: #4A89DC;
}

.timeline_low {
    background: #ED5565;
}

.timeline_low:hover {
    background: #DA4453;
}

.timeline_medium {
    background: #FFCE54;
}

.timeline_medium:hover {
    background: #F6BB42;
}

.timeline_high {
    background: #A0D468;
}

.timeline_high:hover {
    background: #8CC152;
}